body {background-color:#FFFF99;}
.estilotitulo {background-color:#FF9933;font-family:Amsterdam;font-size:200%;color:#A93226;}
.estilosubtitulo {text-align:center;font-family:Garineldo;font-size:400%;color:#196F3D;text-decoration: line-through;text-decoration: underline;}
.estilotitparrafo {font-family:AardvarkBold;font-size:150%;color:#FF8F00;}
.estiloulyol {font-family:Verdana;font-size:90%;}
.estilosubtitulo2 {font-size:200%;color:#196F3D;}
.tamanoppal { max-height=2000; min-height=2000;}
